# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-compose.override.yml
